Name: sharik
Version: {{.version}}
Release: {{.release}}
Summary: Sharik is an app for sending files to almost any device. No internet connection needed.
License: MIT

%description
Sharik is an app for sending files to almost any device. No internet connection needed.

%install
mkdir -p $RPM_BUILD_ROOT%{_bindir}
mkdir -p $RPM_BUILD_ROOT/usr/lib/sharik
mkdir -p $RPM_BUILD_ROOT%{_datadir}/applications
cp -r $RPM_BUILD_DIR $RPM_BUILD_ROOT
chmod 0755 $RPM_BUILD_ROOT%{_bindir}/sharik
chmod 0755 $RPM_BUILD_ROOT%{_datadir}/applications/sharik.desktop

%files
%{_bindir}/sharik
/usr/lib/sharik/
%{_datadir}/applications/sharik.desktop