Package: sharik
Architecture: amd64
Maintainer: marchellodev <marchellodev@gmail.com>
Priority: optional
Version: {{.version}}
Description: Sharik is an app for sending files to almost any device. No internet connection needed.
