Section: x11
Priority: optional
Maintainer: Mark Motliuk <marchellodev@gmail.com>
Version: 3.1
Homepage: https://github.com/marchellodev/sharik
Package: sharik
Architecture: amd64
Description: Sharik is an open-source, cross-platform solution for sharing files via Wi-Fi or Mobile Hotspot

