<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="{{.upgradeCode}}" Version="{{.version}}" Language="1033" Name="{{.applicationName}}" Manufacturer="{{.author}}">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="{{.packageName}}.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="{{.applicationName}}">
                    <Directory Id="ASSETSDIRECTORY" Name="assets"/>
                    <Directory Id="FLUTTERASSETSDIRECTORY" Name="flutter_assets">
                        <?include directories.wxi ?>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="{{.applicationName}}"/>
            </Directory>
        </Directory>
        <Icon Id="ShortcutIcon" SourceFile="build{{.pathSeparator}}assets{{.pathSeparator}}icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ShortcutIcon"/>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="{{.executableName}}.exe" Guid="*">
                <File Id="{{.executableName}}.exe" Source="build{{.pathSeparator}}{{.executableName}}.exe" KeyPath="yes"/>
            </Component>
            <Component Id="flutter_engine.dll" Guid="*">
                <File Id="flutter_engine.dll" Source="build{{.pathSeparator}}flutter_engine.dll" KeyPath="yes"/>
            </Component>
            <Component Id="icudtl.dat" Guid="*">
                <File Id="icudtl.dat" Source="build{{.pathSeparator}}icudtl.dat" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ASSETSDIRECTORY">
            <Component Id="icon.png" Guid="*">
                <File Id="icon.png" Source="build{{.pathSeparator}}assets{{.pathSeparator}}icon.png" KeyPath="yes"/>
            </Component>
            <Component Id="icon.ico" Guid="*">
                <File Id="icon.ico" Source="build{{.pathSeparator}}assets{{.pathSeparator}}icon.ico" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        <?include directory_refs.wxi ?>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="{{.applicationName}}"
                          Description="{{.description}}"
                          Target="[#{{.executableName}}.exe]"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"
                          Icon="ShortcutIcon"/>
                <RemoveFolder Id="CleanUpShortCut" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\{{.author}}\{{.packageName}}" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        <Feature Id="MainApplication" Title="{{.applicationName}}" Level="1">
            <ComponentRef Id="{{.executableName}}.exe"/>
            <ComponentRef Id="flutter_engine.dll"/>
            <ComponentRef Id="icudtl.dat"/>
            <ComponentRef Id="icon.png"/>
            <ComponentRef Id="ApplicationShortcut"/>
            <?include component_refs.wxi ?>
        </Feature>
    </Product>
</Wix>
