pkgname=sharik
pkgver={{.version}}
pkgrel={{.release}}
pkgdesc="Sharik is an app for sending files to almost any device. No internet connection needed."
arch=("x86_64")
license=('MIT')

package() {
    mkdir -p $pkgdir/
    cp * $pkgdir/ -r
}
