Name: {{.packageName}}
Version: {{.version}}
Release: {{.release}}
Summary: {{.description}}
License: {{.license}}

%description
{{.description}}

%install
mkdir -p $RPM_BUILD_ROOT%{_bindir}
mkdir -p $RPM_BUILD_ROOT/usr/lib/{{.packageName}}
mkdir -p $RPM_BUILD_ROOT%{_datadir}/applications
cp -R $RPM_BUILD_DIR/{{.packageName}}-{{.version}}-{{.release}}.x86_64/* $RPM_BUILD_ROOT
chmod 0755 $RPM_BUILD_ROOT%{_bindir}/{{.executableName}}
chmod 0755 $RPM_BUILD_ROOT%{_datadir}/applications/{{.executableName}}.desktop

%files
%{_bindir}/{{.executableName}}
/usr/lib/{{.packageName}}/
%{_datadir}/applications/{{.executableName}}.desktop