<pkg-info format-version="2" identifier="dev.marchello.base.pkg" version="{{.version}}" install-location="/" auth="root">
	<bundle-version>
		<bundle id="dev.marchello" CFBundleIdentifier="dev.marchello" path="./Applications/sharik.app" CFBundleVersion="{{.version}}"/>
    </bundle-version>
</pkg-info>