<pkg-info format-version="2" identifier="{{.organizationName}}.base.pkg" version="{{.version}}" install-location="/" auth="root">
	<bundle-version>
		<bundle id="{{.organizationName}}" CFBundleIdentifier="{{.organizationName}}.{{.packageName}}" path="./Applications/{{.applicationName}} {{.version}}.app" CFBundleVersion="{{.version}}"/>
    </bundle-version>
</pkg-info>
