name: sharik
base: core18
version: '{{.version}}'
summary: Sharik is an app for sharing files in the local network
description: |
  Sharik is an app for sending files to almost any device. No internet connection needed.
confinement: devmode
grade: devel
apps:
  Sharik:
    command: Sharik
    desktop: local/Sharik.desktop
parts:
  desktop:
    plugin: dump
    source: snap
  assets:
    plugin: dump
    source: build/assets
  app:
    plugin: dump
    source: build
    stage-packages:
      - libx11-6
      - libxrandr2
      - libxcursor1
      - libxinerama1
