[Desktop Entry]
Type=Application
Name=Sharik
Icon=dev.marchello.Sharik
Exec=env GDK_GL=gles sharik %U
Categories=Utility;Network;FileTools;P2P;Office
Keywords=Files;Sharing
